<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="fragments :: mainNavbar"></div>
<div class="jumbotron text-center" style="background-color: cornflowerblue">
    <h1 style="font-family: fantasy" > Restaurants </h1>
</div>
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Restaurants</th>
                <th>Cuisine</th>
                <th>Meal</th>
                <th>Check</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="restaurant: ${restaurants}" style="border: 1px black">
                <td th:text="${restaurant.name}"></td>
                <td th:text="${restaurant.cuisine}"></td>
                <td th:text="${restaurant.mealType}"></td>
              <td><a class="btn" style="background-color: pink"
                     th:href="@{http://localhost:8080/restaurant-profile?(id=${restaurant.id})}">view</a></td>

            </tr>
            </tbody>
        </table>
    </div>


<div th:insert="fragments :: footer"></div>
</body>
</html>