<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<nav class="navbar navbar-default" th:fragment="mainNavbar">

    <a href=" welcome" class="navbar-brand">EatMe</a>

    <ul class="nav navbar-nav">
        <li><a href="/all-Restaurants">Restauracje</a></li>

    </ul>
    <ul class="nav navbar-nav">
        <li><a href="search-restaurant">Szukaj</a></li>

    </ul>

</nav>
<footer  class="modal-footer" th:fragment="footer">

    <div class="container">
        <p> <span><strong>Miłego dnia</strong></span>  <span class="glyphicon glyphicon-arrow-right"></span><strong>Życzy EatMe</strong> </p>
    </div>

</footer>