<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<nav class="navbar navbar-default" th:fragment="mainNavbar">

    <a href=" /all-Restaurants" class="navbar-brand">Restauracje</a>

        <ul class="nav navbar-nav">
            <li><a href="/login">Logowanie</a></li>

        </ul>
    <ul class="nav navbar-nav">
        <li><a href="search-restaurant">Szukaj</a></li>

    </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/logout">Logout</a></li>
        </ul>

</nav>
<footer  class="modal-footer" th:fragment="footer">

    <div class="container">
        <p> <span style="font-family: cursive">Miłego dnia</span>  <span class=" glyphicon glyphicon-arrow-right"></span><strong>Życzy EatMe</strong>  </p>
    </div>

</footer>