<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="fragments :: mainNavbar"></div>
<div class="jumbotron text-center" style="background-color: cornflowerblue">
    <h1 style="font-family: fantasy" > Menu </h1>

    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>


                <th scope="col"><center>Meal</center></th>
                <th scope="col"><center>Price</center></th>
                <th scope="col"><center>Ingredients</center></th>

            </tr>
            </thead>
            <tbody>

            <tr th:each="meal: ${menu}"  style="border: 1px black">

                <td th:text="${meal.name}"></td>
                <td th:text="${meal.price}"></td>
                <td>
                    <div th:each="ingredient: ${meal.ingredients}" style="border: 1px black">
                        <span th:text="${ingredient.name}"></span>
                    </div>
                </td>


            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:insert="fragments :: footer"></div>
</body>
</html>