<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Restaurant</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="fragments :: mainNavbar"></div>
<div class="jumbotron text-center" style="background-color: cornflowerblue">
    <h1 style="font-family: fantasy" > Restaurant </h1>
    <h1 style="font-family: fantasy"  th:text="${restaurant.name}"> </h1>
</div>

    <div class="container">
        <iframe  th:src="|https://www.google.com/maps/${restaurant.googleMap}|" width="450" height="450" frameborder="0" style="border:0" align="right" ></iframe>

        <div class="card">
            <div class="form-group" style="text-align: center">
                 <span class="glyphicon glyphicon-cutlery"></span>
          <p><strong>Cuisine:</strong></p><p class="title" th:text="${restaurant.cuisine}" style="font-size: large" ></p>
                <span class="glyphicon glyphicon-apple"></span>
          <p><strong>Meal:</strong></p><p class="title" th:text="${restaurant.mealType}" style="font-size: large" ></p>
            </div>
        </div>



<div>
    <div class="contact-info" style="text-align: center">
        <span class="glyphicon glyphicon-earphone"></span>
        <p><strong>Phone:</strong></p>
        <a th:href="|tel:${restaurant.phoneNumber}|" th:text="${restaurant.phoneNumber}"/>
    </div>
</div>


<div>
    <div class="contact-info" style="text-align: center">
        <span class="glyphicon glyphicon-envelope"></span>  <p><strong>E-mail Adress</strong></p>
        <a th:href="|mailto:${restaurant.email}|" th:text="${restaurant.email}"></a>
    </div>
</div>



    </div>

    <h1><center>MENU</center></h1>
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Meal</th>
                <th scope="col">Price</th>
                <th scope="col">Ingredients</th>

            </tr>
            </thead>
            <tbody>

            <tr th:each="meal: ${menu}"  style="border: 1px black">

                <td th:text="${meal.name}"></td>
                <td th:text="${meal.price}"></td>
                <td>
                    <div th:each="ingredient: ${meal.ingredients}" style="border: 1px black">
                        <span th:text="${ingredient.name}"></span>
                    </div>
                </td>


            </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <form action="#" th:action="@{search-meal?(id=${restaurant.id})}" th:object="${ingredient}" method="post" >
            <div class="form-group" style="text-align: center">
                <label for="ingredient">Ingredient you are looking for: </label> <br>
                <input type="text" id="ingredient" name="ingredient" style="width: 80%">
                <div class="form-group" style="text-align: center">
                    <label for="withoutIngredient">Ingredient you don't want to eat: </label> <br>
                    <input type="text" id="withoutIngredient" name="withoutIngredient" style="width: 80%">

               <!-- <select th:field="*{percentage}">
                    <option th:each="i : ${#numbers.sequence(0, 100)}" th:value="${i}" th:text="${i}">
                    </option>-->
                </select>
                </div>
                <div class="form-group" style="text-align: center">
                    <input type="submit" value="Submit" class="btn" style="background-color: lightseagreen">

                </div>


        </form>
    </div>


<div th:insert="fragments :: footer"></div>
</body>
</html>