<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="fragments :: mainNavbar"></div>
<div class="jumbotron text-center" style="background-color: cornflowerblue">
    <h1 style="font-family: fantasy" > Search </h1>

    <div class="container">
        <form action="#" th:action="@{/search-restaurant}" th:object="${queryString}" method="post" >

            <div class="form-group">
               <p style="font-size: large">Search for Restaurant </p> <br><br>
                <label for="queryString"><p>Cuisine</p></label>
                <br>
                <select class="db-select md-form" th:field="${queryString.cuisinelist}" multiple="multiple"  id="queryString" style="width: 80%">
                    <option th:value="ITALIAN">ITALIAN</option>
                    <option th:value="GREEK">GREEK</option>
                    <option th:value="CHINESE">CHINESE</option>
                    <option th:value="INDIAN">INDIAN</option>
                    <option th:value="POLAND">POLAND</option>
                    <option th:value="AMERICAN">AMERICAN</option>
                </select>


               <!-- <input th:type="checkbox" th:field="${queryString.cuisinelist}"  th:value="ITALIAN" th:text="ITALIAN" />-->
                </div>
                <br>
            <div class="form-group" >
                <label for="meal"><p>Meal</p></label>
                <br>
                <select  th:field="${queryString.meallist}" multiple  id="meal" style="width: 80%">
                    <option th:value="VEGETARIAN">VEGETARIAN</option>
                    <option th:value="MEAT">MEAT</option>
                    <option th:value="GLUTENFREE">GLUTENFREE</option>
                    <option th:value="LACTOSEFREE">LACTOSEFREE</option>
                </select>
        </div>

            <div class="form-group">
                <label for="max"><p>Max cost of one meal</p></label>
                <br>
                <input type="text" th:field="${queryString.max}" id="max">
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn"  style="background-color: lightseagreen">

            </div>


        </form>
    </div>
</div>

<div th:insert="fragments :: footer"></div>
</body>
</html>